.scratch_container {
    position: relative;
    margin: 0 auto;
    max-width: 1024px; // width: 250px;
    // height: 250px;
    &>img {
        position: absolute;
    }
    &>canvas {
        position: relative;
        z-index: 1;
    }
}