.scratch_container {
    position: relative;
    margin: 0 auto;
    max-width: 1024px; // width: 250px;
    // height: 250px;
    &>img {
        position: absolute;
    }
}

.scratch_viewport {
    display: none;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    z-index: 0;
}

.scratch_picture-under {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
}

.scratch_container canvas {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}